<style>
    body {
        margin: 0;
        font-family: 'Segoe UI', sans-serif;
        color: #ffffff;
        background: radial-gradient(circle at center, #2c0306 0%, #000000 80%);
        line-height: 1.6;
    }

    .container {
        max-width: 900px;
        margin: auto;
        padding: 20px;
    }

    h1, h2 {
        text-align: center;
        color: #ff1e3c;
        text-shadow: 0 0 15px #ff0022;
        margin-top: 30px;
    }

    img {
        max-width: 100%;
        border: 1px solid #700000;
        box-shadow: 0 0 25px #ff0033;
        display: block;
        margin: 30px auto;
    }

    .block {
        background: rgba(0, 0, 0, 0.45);
        border-left: 3px solid #b7001c;
        padding: 18px 20px;
        margin: 18px 0;
        border-radius: 6px;
    }

    strong {
        color: #ff3049;
    }

    footer {
        margin-top: 50px;
        text-align: center;
        opacity: 0.6;
        font-size: 14px;
    }

    /* кнопки */
    .btn {
        display: inline-block;
        margin: 20px auto;
        padding: 14px 26px;
        background: linear-gradient(90deg, #ff1e3c, #900015);
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #ff0033;
        box-shadow: 0 0 17px #ff0022;
        transition: .2s;
    }

    .btn:hover {
        transform: scale(1.07);
        box-shadow: 0 0 30px #ff0022;
    }

    .social {
        margin-top: 20px;
        text-align: center;
    }

    .social a {
        color: #ff5368;
        text-decoration: none;
        font-size: 18px;
        display: inline-block;
        margin: 6px 12px;
        transition: .2s;
    }

    .social a:hover {
        color: #ff7c94;
    }

</style>